<div class="all" style="text-align: left;">
<%- if controller_name != 'sessions' %>
<font style="font-size:0.9rem;">ユーザ登録がお済みの方は<%= link_to "ログイン", new_session_path(resource_name), class: "btn btn-outline-secondary btn-sm" %>してください。<br />
登録ボタンを押すとメールが送信されます。</br>
  メールに記載されているリンクをクリックするとアカウントが有効化されます。<br/>
  </font>
<% end %>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<font style="font-size:0.9rem;"><%= link_to "新規ユーザ登録", new_registration_path(resource_name), class: "btn btn-outline-secondary btn-sm" %>がお済みでない方は先に登録をお願い致します。
<% end %>
<br/>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<br/>
<%= link_to "パスワードをお忘れですか?", new_password_path(resource_name), class: "btn btn-outline-secondary btn-sm" %><br />
<% end %>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<br/>
  <%= link_to "確認のメールが届かない方はこちら", new_confirmation_path(resource_name), class: "btn btn-outline-secondary btn-sm" %><br />
<% end %>
<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "ロック解除の手順を受け取っていませんか？", new_unlock_path(resource_name), class: "btn btn-outline-secondary btn-sm" %><br />
<% end %>
</font>
</div>